* {
	border-collapse: collapse;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(8, 1fr);
	height: 98vh;
	gap: 10px;
	border: 1px solid black;
}

.item {
	border: 1px solid black;
}

#a {
	grid-column: 1;
	grid-row: 1 / 9;
}

#b {
	grid-column: 2 / 12;
	grid-row: 2 / 3;
}

#c {
	grid-column: 2/12;
	grid-row: 3 / 9;
}

#d {
	grid-column: 12 / 15;
	grid-row: 1 / 2;
}

#e {
	grid-column: 12 / 15;
	grid-row: 2 / 3;
}

#f {
	grid-column: 12/15;
	grid-row: 3 / 5;
}

#g {
	grid-column: 12 / 15;
	grid-row: 5 / 9;
}
