* {
	border-collapse: collapse;
}

.content {
	border: 1px solid black;
	margin: auto;
	width: fit-content;
	padding: 30px;
	display: grid;
	gap: 10px;
	grid-template-areas:
		"title"
		"riders"
		"distance"
		"efficiency"
		"price"
		"button"
		"result1"
		"result2";
}

#ridersContainer {
	display: grid;
	grid-template-areas: "ridersLabel riderss";
}
#ridersLabel {
	grid-area: ridersLabel;
}
#riders {
	grid-area: riderss;
}

#distanceContainer {
	display: grid;
	grid-template-areas: "distanceLabel distance unitLabel unit";
}
#distanceLabel {
	grid-area: distanceLabel;
}
#riders {
	grid-area: distance;
}
#unitLabel {
	grid-area: unitLabel;
}
#unit {
	grid-area: unit;
}

label,
input,
select,
p {
	padding: 5px;
}

#titleContainer {
	grid-area: title;
}

#ridersContainer {
	grid-area: riders;
}

#distanceContainer {
	grid-area: distance;
}

#efficiencyContainer {
	grid-area: efficiency;
}

#fuelPriceContaienr {
	grid-area: price;
}

#buttonContainer {
	grid-area: button;
}

#resultContainer {
	grid-area: result1;
}

#restul2Container {
	grid-area: result2;
}

.item {
	border: 1px solid red;
	max-width: fit-content;
}

.LI {
	border: 1px solid black;
}
