.content {
	border: 1px solid black;
	margin: auto;
	max-width: 500px;
	padding: 30px;
}

input,
#costUnit,
#efficiencyUnit,
#fuelEfficiencyLabel {
	display: inline-block;
}

* {
	/* outline: 1px solid black; */
	box-sizing: border-box;
	font-family: sans-serif;
}
