* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

/* START TORCH EFFECT*/
.light {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: radial-gradient(
		circle at var(--x) var(--y),
		transparent 7%,
		rgba(0, 0, 0, 0.85) 10%
	);
}
/* end tourch effect */

nav {
	background-color: lightblue;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	padding: 8px;
}

p {
	font-size: 17px;
}
