* {
	border-collapse: collapse;
}

body {
	font-family: sans-serif;
	text-align: center;
	color: grey;
}

#content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

ul {
	overflow: hidden;
}

li {
	list-style-type: none;
	float: right;
	padding: 10px;
}

li a {
	text-decoration: none;
	color: black;
}

li a:hover {
	text-decoration: underline;
	color: black;
}

input[type="text"] {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: 10px 10px 10px 30px;
	border-radius: 25px;
	width: 500px;
}

input[type="text"]:focus,
input[type="text"]:hover,
input[type="submit"]:hover {
	outline: none;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: 0.2s;
}

input[type="submit"] {
	margin: 20px;
	padding: 10px 15px 10px 15px;
	border: none;
	transition: 0.2s;
}
